#pixels {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    grid-template-rows: repeat(28, 1fr);

    block-size: 280px;
    inline-size: 280px;

    .pixel {
        background-color: var(--surface-2);
    }
}
